@model CIM.Entities.ClsCustomerModel

@{
        ViewBag.Title = "Search Customer";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

@*<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>*@

@*<div class="container">

        <div class="form-group">
            <label>Languages</label>

        </div>

        <div class="form-group">
            <label>Another Field</label>
            <input class="form-control">
        </div>

    </div>*@
<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent !important;
    }



    .autocomplete {
        position: relative !important;
        display: inline-block !important;
        z-index: 1050 !important;
    }

    .ui-autocomplete {
        position: absolute !important;
        border: 1px solid #d4d4d4 !important;
        border-bottom: none !important;
        border-top: none !important;
        z-index: 1100 !important;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100% !important;
        left: 0 !important;
        right: 0 !important;
    }

        .ui-autocomplete li {
            padding: 10px !important;
            cursor: pointer !important;
            background-color: #fff !important;
            border-bottom: 1px solid #d4d4d4 !important;
        }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }

    /*.ui-autocomplete {
        position: absolute;
        cursor: default;
        z-index: 1001 !important
    }

    .ui-autocomplete {
        width: 1px;
    }
    .ui-menu {
        list-style: none;
        padding: 2px;
        margin: 0;
        display: block;
        float: left;
    }

        .ui-menu .ui-menu {
            margin-top: -3px;
        }

        .ui-menu .ui-menu-item {
            margin: 0;
            padding: 0;
            zoom: 1;
            float: left;
            clear: left;
            width: 100%;
        }

            .ui-menu .ui-menu-item a {
                text-decoration: none;
                display: block;
                padding: .2em .4em;
                line-height: 1.5;
                zoom: 1;
            }

                .ui-menu .ui-menu-item a.ui-state-hover,
                .ui-menu .ui-menu-item a.ui-state-active {
                    font-weight: normal;
                    margin: -1px;
                }*/
</style>
<!-- Main content -->
<section class="content">
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Search Customer</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">



                    @*<div class="form-group">

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>*@
                    <div class="form-group">
                        @*<label>Search Customer</label>*@
                        <input class="form-control autocomplete" id="userid" placeholder="Search Customer" />
                        <input type="hidden" id="hdncustid" name="custId" value="">
                        @*@Html.DropDownListFor(model => model.UserId, ViewBag.Customer as List<SelectListItem>, "Select customer", new { @class = "form-control" })*@
                        @*<input type="text" class="searchCustomer form-control" id="searchCustomer" placeholder="Search......"/>*@
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">
                        Add Customer
                    </button>
                </div>
            </div>
            <!-- /.row -->
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                @Html.Partial("/Views/_ProductDetails.cshtml", (List<CIM.Entities.ClsProductDetailModel>)ViewBag.ProductDetail.Data)
            </div>

            </div>
        </div>
            <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @using (Html.BeginForm("CreateCustomer", "Customer", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title text-center">New Customer</h4>
                            </div>
                            <div class="modal-body box-body">
                                <div class="form-group">
                                    <label for="Name" class="col-sm-3 control-label">Name</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Full Name" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mobilenumber" class="col-sm-3 control-label">Mobile Number</label>

                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", placeholder = "Mobile Number" })
                                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="mobilenumber" class="col-sm-3 control-label">Company Name</label>

                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", placeholder = "Company Name" })
                                        @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Address</label>
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(model => model.Address, new { @rows = "4", @cols = "50", @class = "form-control", placeholder = "Address" })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="gstnumber" class="col-sm-3 control-label">GST No</label>

                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.GSTNo, new { @class = "form-control", placeholder = "GST No" })
                                        @Html.ValidationMessageFor(model => model.GSTNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        }
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
</section>
