@model CIM.Entities.ClsCustomerModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ui-autocomplete {
        top: 26% !important;
        left: 575px !important;
        right: 0 !important;
        width: 615px !important;
    }
</style>
<!-- Main content -->
<section class="content" style="min-height: 0px !important;">
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Search Company</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <input class="form-control autocomplete" id="userid" placeholder="Search Company" />
                        <input type="hidden" id="hdncustid" name="custId" value="">
                        <input type="hidden" id="hdndepositamount" name="depositamount" value="">
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">
                        Add Customer
                    </button>
                </div>
            </div>        
        </div>
    </div>
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("CreateCustomer", "Customer", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken();
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title text-center">New Customer</h4>
                    </div>
                    <div class="modal-body box-body">
                        <div class="form-group">
                            <label for="Name" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Full Name" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobilenumber" class="col-sm-3 control-label">Mobile Number</label>

                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control numeric-without-decimal", placeholder = "Mobile Number" })
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AlternateNumber" class="col-sm-3 control-label">Alternate Number</label>

                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.AlternateNumber, new { @class = "form-control numeric-without-decimal", placeholder = "Alternate Number" })
                                @Html.ValidationMessageFor(model => model.AlternateNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobilenumber" class="col-sm-3 control-label">Company Name</label>

                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", placeholder = "Company Name" })
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(model => model.Address, new { @rows = "4", @cols = "50", @class = "form-control", placeholder = "Address" })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="gstnumber" class="col-sm-3 control-label">GST No</label>

                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.GSTNo, new { @class = "form-control", placeholder = "GST No" })
                                @Html.ValidationMessageFor(model => model.GSTNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                }
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>

<section class="content customer-cylinder hidden" style="min-height: 0px !important;">
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Customer Details</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="customer-cylinder hidden validate-form">
                <div class="row">
                    <div class="col-md-6">
                        <label>Company Name: </label>
                        <label id="lbl_custname"></label>
                    </div>
                    <div class="col-md-6">
                        <label>Mobile: </label>
                        <label id="lbl_mobile"></label>
                    </div>
                    <div class="col-md-6">
                        <label>Address: </label>
                        <label id="lbl_address"></label>
                    </div>
                    <div class="col-md-6">
                        <label>Deposit Amount: </label>
                        <label id="lbl_depositamount"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Update Notes</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="customer-cylinder hidden validate-form">
                <div class="row">
                    <div class="col-md-2">
                        <label>Note: </label>
                    </div>
                    <div class="col-md-10">
                        <textarea id="txt_Notes" cols="12" style="width:100%;"></textarea>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <input type="button" class="btn btn-primary btn_notesubmit" value="Update" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content customer-cylinder hidden" style="min-height: 0px !important;">
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Customer Ledger</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="dverror" class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                Something went wrong
            </div>
            <div id="dvsucess" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                Success
            </div>
            <div class="customer-cylinder hidden validate-form">
                <div class="row">
                    <div class="col-md-4">
                        <label>Challan Number</label>
                        <input type="text" class="form-control textbox numeric-without-decimal" name="ChallanNumber" id="ChallanNumber" placeholder="Challan Number" />
                        <span class="not-required error">Challan number required</span>
                    </div>
                    <div class="col-md-4">
                        <label>Deposit Amount</label>
                        <input type="text" class="form-control textbox numeric-without-decimal" name="DepositAmount" id="DepositAmount" placeholder="Deposit Amount" value="0" />
                        <span class="not-required error">Deposit amount required</span>
                    </div>
                    <div class="col-md-4">
                        <label>Return Deposit</label>
                        <input type="text" class="form-control textbox numeric-without-decimal" name="ReturnDeposit" id="ReturnDeposit" placeholder="Return Deposit" value="0" />
                        <span class="not-required error">Return deposit required</span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div id="purchased-cylinder">
                            </div>
                        </div>
                        <input type="checkbox" id="chkHolding" value="IsHolding"> Is Holding<br />
                        <input type="button" class="btn btn-primary submit" value="Submit" />
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
</section>


