@model CIM.Entities.ClsCustomerModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .ui-autocomplete {
        top: 26% !important;
        left: 576px !important;
        right: 0 !important;
        width: 614px !important;
    }
</style>
<!-- Main content -->
<section class="content" style="min-height: 0px !important;">
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Search Distributor</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <input class="form-control autocomplete" id="DISuserid" placeholder="Enter company name" />
                        <input type="hidden" id="hdncustid" name="custId" value="">
                        <input type="hidden" id="hdndepositamount" name="depositamount" value="">
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">
                        Add Distributor
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("CreateCustomer", "Distributor", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken();
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title text-center">New Distributor</h4>
                    </div>
                    <div class="modal-body box-body">
                        <div class="form-group">
                            <label for="Name" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Full Name" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobilenumber" class="col-sm-3 control-label">Mobile Number</label>

                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", placeholder = "Mobile Number" })
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AlternateNumber" class="col-sm-3 control-label">Alternate Number</label>

                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.AlternateNumber, new { @class = "form-control", placeholder = "Alternate Number" })
                                @Html.ValidationMessageFor(model => model.AlternateNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobilenumber" class="col-sm-3 control-label">Company Name</label>

                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", placeholder = "Company Name" })
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(model => model.Address, new { @rows = "4", @cols = "50", @class = "form-control", placeholder = "Address" })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="gstnumber" class="col-sm-3 control-label">GST No</label>

                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.GSTNo, new { @class = "form-control", placeholder = "GST No" })
                                @Html.ValidationMessageFor(model => model.GSTNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                }
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modal-default1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center">Deposit Details</h4>
                </div>
                <div class="modal-body box-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3" id="depositDetails">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>
<section class="content customer-cylinder hidden" style="min-height: 0px !important;">
    
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Distributor Ledger</h3>
            <div class="box-tools pull-right">
                <a href="#" class="user_deposit_details" data-toggle="modal" data-target="#modal-default1">Get Deposit Details</a>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="dverror" class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                Something went wrong
            </div>
            <div id="dvsucess" class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                Success
            </div>
            <div class="customer-cylinder hidden validate-form">
                <div class="row">
                    <div class="col-md-4">
                        <label>Bill Number</label>
                        <input type="text" class="form-control textbox numeric-without-decimal" name="ChallanNumber" id="ChallanNumber" placeholder="Bill Number" />
                        <span class="not-required error">Bill number required</span>
                    </div>
                    
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div id="purchased-cylinder">
                            </div>
                        </div>
                        <input type="button" class="btn btn-primary Dis-submit" value="Submit" />
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
</section>

