@model List<CIM.Entities.CustomerReportResponse>


@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.LedgerDate</td>
            <td>@item.ChallanNumber</td>
            <td>@item.CategoryName</td>
            <td>@item.FullIssue</td>
            <td>@item.ReturnStock</td>
            <td>@item.HoldingStock</td>
        </tr>
    }
}
