@model IEnumerable<CIM.Entities.ClsProductDetailModel>

@{
    ViewBag.Title = "PurchasedCylinder";
}
<table id="example1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Check Box</th>
            <th>Product Id</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Available Quantity</th>
            <th>Holding Stock</th>
            <th>Issue Quantity</th>
            <th>Return Quantity</th>
            <th>Defect Quantity</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.CheckBoxFor(model => item.IsChecked)</td>
                    <td>@item.ProductId</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Quantity</td>
                    <td>@item.AvailableQuantity</td>
                    <td>@item.HoldingStock</td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.PurchaseQuantity, new { @class = "purchaseQuantity form-control numeric-without-decimal" })
                        <span class="not-required error">Purchase quantity required</span>
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.ReturnQuantity, new { @class = "returnQuantity form-control numeric-without-decimal" })
                        <span class="not-required error">Purchase quantity required</span>
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.DefectQuantity, new { @class = "defectQuantity form-control numeric-without-decimal" })
                        <span class="not-required error">Purchase quantity required</span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

