@model List<CIM.Entities.ClsProductDetailModel>
<div class="box-header">
    <h3 class="box-title">Inventory List</h3>
</div>
<!-- /.box-header -->
<div class="box-body">
    <table id="example1" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Category</th>
                <th>Sub category</th>
                <th>Is deposit allowed</th>
                <th>Is exchange allowed</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Available quantity</th>
                <th>Deposit amount</th>
                <th>Purchase quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryName</td>
                    <td>@item.SubCategoryName</td>
                    <td>@item.IsDepositAllowed</td>
                    <td>@item.IsExchangeAllowed</td>
                    <td class="quantity">@item.Quantity</td>
                    <td>@item.Price</td>
                    <td>@item.AvailableQuantity</td>
                    <td>@Html.TextBoxFor(modelItem => item.DepositAmount, new { @class = item.IsDepositAllowed ? "depositAmount form-control" : "disabled depositAmount form-control" })</td>
                    <td>@Html.TextBoxFor(modelItem => item.PurchaseQuantity, new { @class = "purchaseQuantity form-control" })</td>
                    <td><a class="btn btn-primary purchaseCustomer">Buy</a></td>
                </tr>
            }
        </tbody>        
    </table>
</div>
