@model IEnumerable<CIM.Entities.ClsProductDetailModel>

@{
    ViewBag.Title = "PurchasedCylinder";
}
<table  id="example1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Sub category
            </th>
            <th>
                Quantity
            </th>
            <th>
                Is deposit allowed
            </th>
            <th>
                Is exchange allowed
            </th>
            <th>
                Available quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Deposit amount
            </th>
            <th>
                Purchase quantity
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                @Html.HiddenFor(model=>item.ProductId)
                @Html.HiddenFor(model => item.UserId)
                <tr>
                    <td>
                        @item.CategoryName
                    </td>
                    <td>
                        @item.SubCategoryName
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.IsDepositAllowed
                    </td>
                    <td>
                        @item.IsExchangeAllowed
                    </td>
                    <td>
                        @item.AvailableQuantity
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.DepositAmount, new { @class = item.IsDepositAllowed ? "depositAmount form-control" : "disabled depositAmount form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.PurchaseQuantity, new { @class = "purchaseQuantity form-control" })
                    </td>
                    <td>
                        <a class="btn btn-primary return-cylinder">Return</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
