@model IEnumerable<CIM.Entities.ClsProductDetailModel>

@{
    ViewBag.Title = "PurchasedCylinder";
}
<table id="example1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Check Box</th>
            <th hidden>Product Id</th>
            <th>Category</th>
            @*<th>Sub Category</th>*@
            <th hidden>Quantity</th>
            @*<th>Is Deposit Allowed</th>
            <th>Is Exchange Allowed</th>*@
            <th hidden>Available Quantity</th>
            @*<th>Price</th>*@
            <th>Holding Stock</th>
            <th>Full Cylinder</th>
            <th>Empty Cylinder</th>
        </tr> 
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.CheckBoxFor(model => item.IsChecked)</td>
                    <td hidden>@item.ProductId</td>
                    <td>@item.CategoryName</td>
                    @*<td>@item.SubCategoryName</td>*@
                    <td hidden>@item.Quantity</td>
                    @*<td>@item.IsDepositAllowed</td>
                    <td>@item.IsExchangeAllowed</td>*@
                    <td hidden>@item.AvailableQuantity</td>
                    @*<td>@item.Price</td>*@
                    <td>@item.HoldingStock</td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.PurchaseQuantity, new { @class = "purchaseQuantity form-control numeric-without-decimal" })
                        <span class="not-required error">Purchase quantity required</span>
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.ReturnQuantity, new { @class = "returnQuantity form-control numeric-without-decimal" })
                        <span class="not-required error">Purchase quantity required</span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
